</div>
</div>
 <!-- /.container -->
<div class="join-w3l1 py-sm-5 py-4">
   <div class="container py-xl-4 py-lg-2">
      <div class="row">
         <div class="col-sm-6">
            <div class="join-agile text-left p-4">
               <div class="row">
                   <div class="col-sm-7 offer-name">
                      <h6>Smooth, Rich & Loud Audio</h6>
                      <h4 class="mt-2 mb-3">Branded Headphone</h4>
                      <p>Sale up to 25% off all in store</p>
                   </div>
                   <div class="col-sm-5 offering-w3l">
                      <img class="img-fluid" src="/off1.PNG" alt="">
                   </div>
                   </div>
               </div>
            </div>
            <div class="col-sm-6">
               <!-- mt-lg-0 mt-5 -->
               <div class="join-agile text-left p-4">
                  <div class="row">
                     <div class="col-sm-7 offer-name">
                        <h6>A Bigger Phone</h6>
                        <h4 class="mt-2 mb-3">Smart Phones </h4>
                        <p>Free Shipping order over #40000</p>
                     </div>
                     <div class="col-sm-5 offering-w3l">
                        <img class="img-fluid" src="/off2.PNG" alt="">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="footer-top-first">
   <div class="container py-md-5 py-sm-4 py-3">
      <h2 class="footer-top-head-w3l font-weight-bold mb-2">DejStore:</h2>
      <p class="footer-main mb-4">
         If you're considering a new laptop, looking for a powerful new car stereo or shopping for a new HDTV, 
         we make it easy to find exactly what you need at a price you can afford. 
         We offer Every Day Low Prices on TVs, laptops, cell phones, tablets, clothes, video games, 
         desktop computers, cameras and camcorders, audio, video and more...
      </p>
      <hr class="container">
      <div class="row">
         <div class="col-md-4 offer-footer">
            <div class="row">
               <div class="col-4 icon-fot">
                  <i class="fas fa-dolly">
                     
                  </i>
               </div>
               <div class="col-8 text-form-footer">
                  <h3>Free Shipping</h3>
                  <p>on orders over #60000</p>
               </div>
            </div>
         </div> 

         <div class="col-md-4 offer-footer">
            <div class="row">
                  <div class="col-4 icon-fot">
                     <i class="fas fa-shipping-fast">
                        
                     </i>
                  </div>
                  <div class="col-8 text-form-footer">
                     <h3>Fast Delivery</h3>
                     <p>World Wide</p>
                  </div>
            </div> 
         </div>

         <div class="col-md-4 offer-footer">
            <div class="row">
                  <div class="col-4 icon-fot">
                     <i class="fas fa-thumbs-up">
                        
                     </i>
                  </div>
                  <div class="col-8 text-form-footer">
                     <h3>Big Choicce</h3>
                     <p>of Products</p>
                  </div>
            </div> 
         </div>

      </div>
      <hr class="container">
      
   </div>
</div>

<div class="w3l-middlefooter-sec">
   <div class="container py-md-5 py-sm-4 py-3">
      <div class="row footer-info w3-agileits-info">
         <!-- footer categories -->
         <div class="col-md-3 col-sm-6 footer-grids">
            <h3 class="text-white font-weight-bold mb-3">Categories</h3>
            <ul>
               <li class="mb-3">
                  <a href="">Mobiles </a>
               </li>
               <li class="mb-3">
                  <a href="">Computers</a>
               </li>
               <li class="mb-3">
                  <a href="">TV, Audio</a>
               </li>
               <li class="mb-3">
                  <a href="">Smartphones</a>
               </li>
               <li class="mb-3">
                  <a href="">Washing Machines</a>
               </li>
               <li>
                  <a href="">Refrigerators</a>
               </li>
            </ul>
         </div>
         <!-- //footer categories -->
         <!-- quick links -->
         <div class="col-md-3 col-sm-6 footer-grids mt-sm-0 mt-4">
            <h3 class="text-white font-weight-bold mb-3">Quick Links</h3>
            <ul>
               <li class="mb-3">
                  <a href="">About Us</a>
               </li>
               <li class="mb-3">
                  <a href="">Contact Us</a>
               </li>
               <li class="mb-3">
                  <a href="">Help</a>
               </li>
               <li class="mb-3">
                  <a href="">Faqs</a>
               </li>
               <li class="mb-3">
                  <a href="">Terms of use</a>
               </li>
               <li>
                  <a href="">Privacy Policy</a>
               </li>
            </ul>
         </div>
         <div class="col-md-3 col-sm-6 footer-grids mt-md-0 mt-4">
            <h3 class="text-white font-weight-bold mb-3">Get in Touch</h3>
            <ul>
               <li class="mb-3">
                  <i class="fas fa-map-marker"></i> 3, Oba Akran Avenue, Ikeja, Lagos, Nigeria.</li>
               <li class="mb-3">
                  <i class="fas fa-mobile"></i> 08163905064 </li>
               <li class="mb-3">
                  <i class="fas fa-phone"></i> +234 432 456 321   </li>
               <li class="mb-3">
                  <i class="fas fa-envelope-open"></i>
                  <a href=".com"> dejpet73@gmail.com</a>
               </li>
            </ul>
         </div>
         <div class="col-md-3 col-sm-6 footer-grids w3l-agileits mt-md-0 mt-4">
            <!-- newsletter -->
            <h3 class="text-white font-weight-bold mb-3">Newsletter</h3>
            <p class="mb-3">Free Delivery on your first order!</p>
            <form action="#" method="post">
               <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email" name="email" required="">
                  <input type="submit" value="Go">
               </div>
            </form>
            <!-- //newsletter -->
            <!-- social icons -->
            <div class="footer-grids  w3l-socialmk mt-3">
               <h3 class="text-white font-weight-bold mb-3">Follow Us on</h3>
               <div class="social">
                  <ul>
                     <li>
                        <a class="icon fb" href="#">
                           <i class="fab fa-facebook-f"></i>
                        </a>
                     </li>
                     <li>
                        <a class="icon tw" href="#">
                           <i class="fab fa-twitter"></i>
                        </a>
                     </li>
                     <li>
                        <a class="icon gp" href="#">
                           <i class="fab fa-google-plus-g"></i>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
            <!-- //social icons -->
         </div>
      </div>
      <!-- //quick links -->
   </div>
</div>

 <br><br>
    <p class="text-center">&COPY;DEJSTORE</p>

 
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
 <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
 <script src="/js/main.js"></script>

</body>
</html>