

 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
  

    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/adminstyle.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>

    <style>
        
    #navbarcollapse ul li {
        /* margin-right: 40px; */
        text-decoration: none;
        border: none;
        font-size: 16px;
        margin: 12px;

    }

    #navbarcollapse ul li a {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
        display: inline-block;
    }

    #navbarcollapse ul li a:hover {
        text-decoration: none;
        color: azure;
        font-weight: bolder;
    }
       
    </style>
   
  </head>

  <nav role="navigation" class="navbar navbar-expand-sm navbar-light bg-dark rounded mb-3">
    <a class="navbar-brand" href="/" style="color:#fff">DEJ STORE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarcollapse" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>

  </nav>

    <%- messages('messages', locals) %>

        <% if (errors) {%>
          <% errors.forEach(function(error) { %>
              <div class="alert alert-danger">
                  <%= error.msg %>
              </div>
          <% });%> 
        <% }%>