<% include _layouts/header %>

<div class="container2 py-xl-4 py-lg-2">
    <div class="wrapper py-sm-5 py-4">
        <div class="product-box">
            <h3>Our New Brands</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="men-thumb-item text-center">
                        <img src="/G1.jpg">
                    </div>

                    <div class="item-info-product text-center border-top mt-4">
                        <h4 class="pt-1">
                            <a href="single.html">Samsung Galaxy J7</a>
                        </h4>
                        <div class="info-product-price my-2">
                            <span class="item_price">$200.00</span>
                            <del>$280.00</del>
                        </div>
                        <input  type="button" class="btn btn-primary" name="submit" value="Add-to-cart">
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="men-thumb-item text-center">
                        <img src="/G1.jpg">
                    </div>

                    <div class="item-info-product text-center border-top mt-4">
                        <h4 class="pt-1">
                            <a href="single.html">Samsung Galaxy J7</a>
                        </h4>
                        <div class="info-product-price my-2">
                            <span class="item_price">$200.00</span>
                            <del>$280.00</del>
                        </div>
                        <input  type="button" class="btn btn-primary" name="submit" value="Add-to-cart">
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="men-thumb-item text-center">
                        <img src="/c3.jpg">
                    </div>

                    <div class="item-info-product text-center border-top mt-4">
                        <h4 class="pt-1">
                            <a href="single.html">Samsung Galaxy J7</a>
                        </h4>
                        
                        <input  type="button" class="btn btn-primary" name="submit" value="Add-to-cart">
                    </div>
                </div>

            </div>

            
        </div><br><br>

        <div class="product-box">
            <div class="row">
                <div class="col-md-4">
                    <div class="men-thumb-item text-center">
                        <img src="/G1.jpg">
                    </div>

                    <div class="item-info-product text-center border-top mt-4">
                        <h4 class="pt-1">
                            <a href="single.html">Samsung Galaxy J7</a>
                        </h4>
                        <div class="info-product-price my-2">
                            <span class="item_price">$200.00</span>
                            <del>$280.00</del>
                        </div>
                        <input  type="button" class="btn btn-primary" name="submit" value="Add-to-cart">
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="men-thumb-item text-center">
                        <img src="/G1.jpg">
                    </div>

                    <div class="item-info-product text-center border-top mt-4">
                        <h4 class="pt-1">
                            <a href="single.html">Samsung Galaxy J7</a>
                        </h4>
                        <div class="info-product-price my-2">
                            <span class="item_price">$200.00</span>
                            <del>$280.00</del>
                        </div>
                        <input  type="button" class="btn btn-primary" name="submit" value="Add-to-cart">
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="men-thumb-item text-center">
                        <img src="/c3.jpg">
                    </div>

                    <div class="item-info-product text-center border-top mt-4">
                        <h4 class="pt-1">
                            <a href="single.html">Samsung Galaxy J7</a>
                        </h4>
                        <div class="info-product-price my-2">
                            <span class="item_price">$200.00</span>
                            <del>$280.00</del>
                        </div>
                        <input  type="button" class="btn btn-primary" name="submit" value="Add-to-cart">
                    </div>
                </div>

            </div>

            
        </div><br><br>

        <div class="product-box">
            <div class="row">
                <div class="col-md-4">
                    <div class="men-thumb-item text-center">
                        <img src="/G1.jpg">
                    </div>

                    <div class="item-info-product text-center border-top mt-4">
                        <h4 class="pt-1">
                            <a href="single.html">Samsung Galaxy J7</a>
                        </h4>
                        <div class="info-product-price my-2">
                            <span class="item_price">$200.00</span>
                            <del>$280.00</del>
                        </div>
                        <input  type="button" class="btn btn-primary" name="submit" value="Add-to-cart">
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="men-thumb-item text-center">
                        <img src="/G1.jpg">
                    </div>

                    <div class="item-info-product text-center border-top mt-4">
                        <h4 class="pt-1">
                            <a href="single.html">Samsung Galaxy J7</a>
                        </h4>
                        <div class="info-product-price my-2">
                            <span class="item_price">$200.00</span>
                            <del>$280.00</del>
                        </div>
                        <input  type="button" class="btn btn-primary" name="submit" value="Add-to-cart">
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="men-thumb-item text-center">
                        <img src="/c3.jpg">
                    </div>

                    <div class="item-info-product text-center border-top mt-4">
                        <h4 class="pt-1">
                            <a href="single.html">Samsung Galaxy J7</a>
                        </h4>
                        <div class="info-product-price my-2">
                            <span class="item_price">$200.00</span>
                            <del>$280.00</del>
                        </div>
                        <input  type="button" class="btn btn-primary" name="submit" value="Add-to-cart">
                    </div>
                </div>

            </div>

        </div>  
        </div>


        

    </div>

</div>

<% include _layouts/footer %>   