

<% include ../_layouts/header2 %>

<div class="contact">
        <div class="aboutbg"></div>
        <div class="services-breadcrumb">
                <div class="agile_inner_breadcrumb">
                    <div class="container">
                        <ul class="my_short">
                            <li>
                                <a href="/">Home</a>
                                <i>/</i>
                            </li>
                            <li>ABOUT US</li>
                        </ul>
                    </div>
                </div>
        </div>

    <div class="container"></div>
			<!-- //tittle heading -->
			<div class="welcome py-sm-5 py-4">
                    <div class="container py-xl-4 py-lg-2">
                        <!-- tittle heading -->
                        <h3 class="tittle-c text-center mb-lg-5 mb-sm-4 mb-3">
                            <span>A</span>bout
                            <span>U</span>s</h3>
                        <!-- //tittle heading -->

                        <div class="row">
                            <div class="col-lg-6 welcome-left">
                                <h3>Welcome</h3>
                                <h4 class="my-sm-3 my-2">Welcome to our online store! Our team is proud to announce that we're now open for business, and we look forward to serving you all in the future. If you have any questions about this store or the products found within, please don't hesitate to contact us any time.
                                    Our website has been carefully designed to provide you with an amazingly flexible online shopping experience, and its ease of navigation is something we think you'll grow to depend on and appreciate.
                                </h4>
                                <p>
                                    Feel free to browse our entire product catalog, and let us know if you have any questions, comments or concerns about the item housed within. Our team is always ready and willing to assist our customers, and we are happy for your visit.
                                </p>
                            </div>
                            <div class="col-lg-6 welcome-right-top mt-lg-0 mt-sm-5 mt-4">
                                <img src="/ab.jpg" class="img-fluid" alt=" ">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //about -->
            
                <!-- testimonials -->
                <div class="testimonials">
                    <div class="container py-xl-4 py-lg-2">
                        <!-- tittle heading -->
                        <h3 class="tittle-c text-center text-white mb-lg-5 mb-sm-4 mb-3">
                            <span>O</span>ur
                            <span>C</span>ustomers
                            <span>S</span>ays</h3>
                        <!-- tittle heading -->
                        <div class="row gallery-index">
                            <div class="col-sm-6 med-testi-grid">
                                <div class="med-testi test-tooltip rounded p-4">
                                    <p>This part of the world is a little slice of heaven, I had a wonderful time shopping.
                                            Quick access to what i'm looking for, increase conversions by naturally limiting the number of clicks to checkout.
                                    </p>
                                </div>
                                <div class="row med-testi-left my-5">
                                    <div class="col-lg-2 col-3 w3ls-med-testi-img">
                                        <img src="images/user.jpg" alt=" " class="img-fluid rounded-circle" />
                                    </div>
                                    <div class="col-lg-10 col-9 med-testi-txt">
                                        <h4 class="font-weight-bold mb-lg-1 mb-2">Janet</h4>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 med-testi-grid">
                                <div class="med-testi test-tooltip rounded p-4">
                                    <p>I don't have much to say they are just the best.
                                            Quick access to what i'm looking for, increase conversions by naturally limiting the number of clicks to checkout.
                                    </p>
                                </div>
                                <div class="row med-testi-left my-5">
                                    <div class="col-lg-2 col-3 w3ls-med-testi-img">
                                        <img src="images/user.jpg" alt=" " class="img-fluid rounded-circle" />
                                    </div>
                                    <div class="col-lg-10 col-9 med-testi-txt">
                                        <h4 class="font-weight-bold mb-lg-1 mb-2">Paul</h4>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 med-testi-grid">
                                <div class="med-testi test-tooltip rounded p-4">
                                    <p>"Quick access to what i'm looking for, increase conversions by naturally limiting the number of clicks to checkout.
                                        I can't believe how far i have come in the last 6 months.
                                    </p>
                                </div>
                                <div class="row med-testi-left mt-sm-5 my-5">
                                    <div class="col-lg-2 col-3 w3ls-med-testi-img">
                                        <img src="images/user.jpg" alt=" " class="img-fluid rounded-circle" />
                                    </div>
                                    <div class="col-lg-10 col-9 med-testi-txt">
                                        <h4 class="font-weight-bold mb-lg-1 mb-2">Charles</h4>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 med-testi-grid">
                                <div class="med-testi test-tooltip rounded p-4">
                                    <p>"Awesome page, easily accessible.
                                        It's like you read my mind with the simple yet lovely sessions and pages, what more could i ask for on a shopping website... 
                                    </p>
                                </div>
                                <div class="row med-testi-left mt-5">
                                    <div class="col-lg-2 col-3 w3ls-med-testi-img">
                                        <img src="images/user.jpg" alt=" " class="img-fluid rounded-circle" />
                                    </div>
                                    <div class="col-lg-10 col-9 med-testi-txt">
                                        <h4 class="font-weight-bold mb-lg-1 mb-2">Jessie</h4>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<% include ../_layouts/footer %> 